<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale comigo diretamente!</title>

    <link rel="stylesheet" href="/static/css/contact.css">

</head>

<body>
    <div id="about-container">
        <h3>Sobre mim</h3>
        <p>
            Eu me chamo Davi Gonçalves, nasci em janeiro de 2005 e moro na cidade de Sorocaba. Técnico em Adminstração pela ETEC Fernando Prestes e no último semestre da faculdade de Análise e Desenvolvimento de Sistemas na Universidade Paulista - UNIP. <br><br>
            Desenvolvedor Python Back-End especializado na criação de soluções para desktop/computador, com experiência em áreas como: Inteligência artificial, automação de processos, análise de dados, desenvolvimento de bots e criação de assistentes virtuais.<br>
        </p>
    </div>


    <div id="projects-container">
        <div class="project" id="chatbot-card">
            <h3>Chatbot offline com IA personalizável</h3>
            <p>Chatbot que funciona 100% offline, com possibilidade de gerenciamento dos modelos utilizados, o modelo se lembra da conversa e responde as perguntas utilizando esses dados, contando também com uma interface amigável.</p>
            <a href="https://github.com/DaviGMCoelho/ChatBot" target="_blank">
                Venha conferir o projeto aqui!<br>
            </a>
        </div>

        <div class="project" id="pdf-reader-card">
            <h3>Leitor de PDF com RAG e IA</h3>
            <p>Um leitor de PDF que utiliza um modelo de IA para responder perguntas relacionadas aos arquivos, combinando ChromaDB para categorização dos conteúdos e uma IA para gerar as respostas com base nisso. Você consegue buscar informações apenas perguntando.</p>
            <a href="https://github.com/DaviGMCoelho/pdf-rag-ia" target="_blank">
                Venha conferir o projeto aqui!<br>
            </a>
        </div>

        <div class="project" id="assistant-card">
            <h3>Assistente Virtual</h3>
            <p>Uma assistente virtual controlada por voz, com funcionalidades criar arquivos de texto, pastas e arquivos python, abrir programas e sites, gerar textos utilizando um modelo de IA e dizer as horas.</p>
            <a href="https://github.com/DaviGMCoelho/Assistente-Virtual" target="_blank">
                Venha conferir o projeto aqui!<br>
            </a>
        </div>
    </div>


    <div id="contact-container">
        <h3>Contato</h1>
        <p>
            Quer trabalhar comigo, tirar uma dúvida ou se interessou pelos meus projetos?<br>
            Você consegue me encontrar em TODOS esses lugares!
        </p>

        <div class="contact-row" id="contact-row-1">
            <div class="contact" id="github-card">
                <p>GitHub</p>
                <a href="https://github.com/DaviGMCoelho" target="_blank">
                    <img src="/static/images/icons/github_icon_512x512.png" alt="github-icon.png" width="50" height="50"><br>
                </a>
            </div>

            <div class="contact" id="youtube-card">
                <p>YouTube</p>
                <a href="https://www.youtube.com/@PyLab1" target="_blank">
                    <img src="/static/images/icons/youtube_icon_512x512.png" alt="youtube-icon.png" width="40" height="40">
                </a>
            </div>

            <div class="contact" id="whatsapp-card">
                <p>WhatsApp</p>
                <a href="https://www.whatsapp.com" target="_blank">
                    <img src="/static/images/icons/whatsapp_icon_512x512.png" alt="whatsapp-icon.png" width="40" height="40">
                </a>
            </div>
        </div>

        <div class="contact-row" id="contact-row-2">
            <div class="contact" id="linkedin-card">
                <p>LinkedIn</p>
                <a href="https://www.linkedin.com/in/DaviGMCoelho" target="_blank">
                    <img src="/static/images/icons/linkedin_icon_512x512.png" alt="linkedin-icon.png" width="40" height="40">
                </a>
            </div>

            <div class="contact" id="instagram-card">
                <p>Instagram</p>
                <a href="https://www.instagram.com/techwithdavi/" target="_blank">
                    <img src="/static/images/icons/instagram_icon_512x512.png" alt="github-icon.png" width="40" height="40">
                </a>
            </div>

            <div class="contact" id="linktree-card">
                <p>Linktree</p>
                <a href="https://linktr.ee/goncalvesdavi" target="_blank">
                    <img src="/static/images/icons/linktree_icon_512x512.png" alt="github-icon.png" width="40" height="40"><br>
                </a>
            </div>

        </div>
    </div>

</body>

</html>